* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-img {

  background-image: url("img/pexels-pixabay-221532.jpg");
 height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: absolute;
  margin: 0px;
  width:100%;

}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-transform:uppercase;
  padding:1rem;
  font-family: 'Roboto', sans-serif;
}

.brand-title {
  font-size: 2rem;
  margin: .5rem;
  font-family: 'Kufam', cursive;
  position:relative;

}
#santorini
{
  font-family: 'Lobster', cursive;
  font-size:1.7rem;
  position:absolute;
  top:30px;
  left:30px;
  
}
.booking
{
  position:relative;
  top:100px;
  background-color:black;
  border-color:white;
  border-style: solid;
  border-width:thick;

}
.booking a{
  text-decoration:none;
  font-family:'Lobster',sans-serif;
font-size:40px;
color:white;
}
h2
{
  position:relative;
  font-size:50px;
 color:white;
background-color:rgba(67, 79, 89, 0.383);
font-family:'Roboto',sans-serif;
text-align:center;
display: block;
    margin-left: auto;
    margin-right: auto;
 width:30%;
  top:300px;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-weight:bold;
  font-size:20px;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height:21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .booking
{
  
  position:relative;
  top:100px;
  background-color:black;
  border-color:white;
  border-style: solid;
  border-width:thick;

}
.booking a{
  position:relative;
  text-decoration:none;
  font-family:'Lobster',sans-serif;
font-size:45px;
color:white;
}
h2
{
  top:350px;
  position:fixed;
  font-size:50px;
 color:white;
background-color:rgba(67, 79, 89, 0.383);
font-family:'Roboto',sans-serif;
display:block;
    margin-left: auto;
    margin-right:auto;
 width:80%;

 
}
}

@media (max-width:650px) {
  .booking
{
  
  position:relative;
  background-color:black;
  border-color:white;
  border-style: solid;
  border-width:thick;

}
.booking a{
  position:relative;
  text-decoration:none;
  font-family:'Lobster',sans-serif;
font-size:30px;
color:white;
}
h2
{
  top:350px;
  position:fixed;
  font-size:35px;
 color:white;
background-color:rgba(67, 79, 89, 0.383);
font-family:'Roboto',sans-serif;
display:block;
    margin-left: auto;
    margin-right:auto;
 width:100%;

 
}
  .navbar {
      flex-direction: column;
      align-items: center;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
  
  
}